Repository fullscreen-triangle/bloodhound: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, cargo-audit, python-safety, pytest-unit, consciousness-validation, s-entropy-validation, purpose-framework-validation, combine-harvester-validation, scientific-correctness, bloodhound-config-validation, docker-compose-validation

Path conditions:
  cargo-check: any of: \.rs$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  cargo-test: any of: \.rs$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  cargo-audit: any of: Cargo\.(toml|lock), but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  python-safety: any of: requirements.*\.txt$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  pytest-unit: any of: \.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  consciousness-validation: any of: (consciousness|bmd|frame_selection).*\.py$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  s-entropy-validation: any of: (s_entropy|navigation|coordinate).*\.(py|rs)$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  purpose-framework-validation: any of: (purpose|domain|learning|lora).*\.(py|rs)$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  combine-harvester-validation: any of: (combine|harvester|integration|synthesis).*\.(py|rs)$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  scientific-correctness: any of: (genomics|proteomics|metabolomics|bioinformatics).*\.(py|rs)$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  bloodhound-config-validation: any of: bloodhound.*\.toml$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$

  docker-compose-validation: any of: docker-compose.*\.yml$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  target/.*|
  build/.*|
  dist/.*|
  .*\.egg-info/.*|
  __pycache__/.*|
  \.pytest_cache/.*|
  \.mypy_cache/.*|
  \.coverage.*|
  htmlcov/.*|
  \.ipynb_checkpoints/.*|
  docs/_build/.*|
  models/.*\.bin|
  models/.*\.onnx|
  data/.*|
  logs/.*|
  .*\.log|
  .*\.bak|
  .*\.backup
)$


framework reframing
  src/core/jungfernstieg/Cargo.toml
  src/core/jungfernstieg/src/biological.rs
  src/core/jungfernstieg/src/circulation.rs
  src/core/jungfernstieg/src/economy.rs
  src/core/jungfernstieg/src/interfaces.rs
  src/core/jungfernstieg/src/lib.rs
  src/core/jungfernstieg/src/monitoring.rs
  src/core/jungfernstieg/src/noise.rs
  src/core/jungfernstieg/src/optimization.rs
  src/core/jungfernstieg/src/substrate.rs
  src/core/jungfernstieg/src/vessels.rs
Due: cargo-check, cargo-test, cargo-audit

virtual machine core
  Cargo.toml
  src/bloodhound_vm_core/Cargo.toml
  src/bloodhound_vm_core/src/consciousness.rs
  src/bloodhound_vm_core/src/coordination.rs
  src/bloodhound_vm_core/src/entropy.rs
  src/bloodhound_vm_core/src/lib.rs
  src/bloodhound_vm_core/src/oscillatory.rs
  src/bloodhound_vm_core/src/parallelization.rs
  src/bloodhound_vm_core/src/processing.rs
  src/bloodhound_vm_core/src/runtime.rs
  src/bloodhound_vm_core/src/substrate.rs
  src/core/jungfernstieg/src/lib.rs
  src/core/jungfernstieg/src/oscillatory_lagrangian.rs
Due: cargo-check, cargo-test, cargo-audit, bloodhound-config-validation

naked engine
  docs/virtual-machine/initial-requirements-meaninglessness.tex
  docs/virtual-machine/no-boundary-thermodynamic-foundations.tex
  src/bloodhound_vm_core/src/lib.rs
  src/bloodhound_vm_core/src/no_boundary_engine.rs
  src/bloodhound_vm_core/src/philosophy.rs
Due: cargo-check, cargo-test

mufakose algorithm
  demo/README.md
  demo/demo.py
  demo/mufakose_validation.py
  demo/src/search/__init__.py
  demo/src/search/mufakose_framework.py
Due: pytest-unit

validation
  st_hurbet/validation/categorical_memory.py
  st_hurbet/validation/distributed.py
  st_hurbet/validation/enhancement.py
  st_hurbet/validation/maxwell_demon.py
  st_hurbet/validation/run_validation.py
  st_hurbet/validation/s_entropy.py
  st_hurbet/validation/ternary.py
  st_hurbet/validation/trajectory.py
Due: pytest-unit, s-entropy-validation

validation
  st_hurbet/validation/generate_validation_panels.py
  st_hurbet/validation/panels/distance_independence_investigation.png
  st_hurbet/validation/panels/panel_1_triple_equivalence.png
  st_hurbet/validation/panels/panel_2_ternary_addressing.png
  st_hurbet/validation/panels/panel_3_zero_energy_sorting.png
  st_hurbet/validation/panels/panel_4_phase_transitions.png
  st_hurbet/validation/panels/panel_5_enhancement_cascade.png
  st_hurbet/validation/panels/panel_6_trajectory_position.png
  st_hurbet/validation/panels/panel_7_categorical_memory.png
  st_hurbet/validation/panels/panel_8_central_state.png
Due: pytest-unit

fixed readme
  README.md
Due: none

federated understanding
  st_hurbet/docs/computing/computer-vision/purpose-partition-models.tex
  st_hurbet/publication/federated-understanding/federated-multi-modal-understanding.tex
  st_hurbet/publication/federated-understanding/references.bib
Due: none

revised landing page
  thrust/package.json
  thrust/src/components/SailfishModel.js
Due: none

thrust website
  thrust/package-lock.json
  thrust/public/models/laptop.glb
  thrust/src/components/Education.js
  thrust/src/components/Experience.js
  thrust/src/components/Footer.js
  thrust/src/components/HireMe.js
  thrust/src/components/Icons.js
  thrust/src/components/Laptop.js
  thrust/src/components/LiIcon.js
  thrust/src/components/Navbar.js
  thrust/src/components/Skills.js
  thrust/src/pages/about.js
  thrust/src/pages/architecture.js
  thrust/src/pages/articles.js
  thrust/src/pages/docs.js
  thrust/src/pages/projects.js
  thrust/src/pages/roadmap.js
  thrust/src/pages/use-cases.js
Due: none

lagrangian agent
  thrust/docs/lagrangian-bloodhound-agent/lagrangian-bloodhound-agent-operation.tex
  thrust/docs/lagrangian-bloodhound-agent/references.bib
  thrust/docs/sources/backward-training-principle.tex
  thrust/docs/sources/composition-inflation.tex
  thrust/docs/sources/computational-equivalence.tex
  thrust/docs/sources/finite-agent-coordination.tex
  thrust/docs/sources/knowledge-thermodynamics.tex
  thrust/docs/sources/operational-agent-intelligence.tex
  thrust/docs/sources/synchronised-agent-coordination.tex
  thrust/docs/sources/unconstrained-subtask-recursion.tex
  thrust/docs/sources/unconstrained-subtasks-computing.tex
Due: none

lagrangian agent figures
  thrust/docs/lagrangian-bloodhound-agent/figures/panel_01_sentropy_foundations.png
  thrust/docs/lagrangian-bloodhound-agent/figures/panel_02_composition_inflation.png
  thrust/docs/lagrangian-bloodhound-agent/figures/panel_03_gradient_flow_rup.png
  thrust/docs/lagrangian-bloodhound-agent/figures/panel_04_kuramoto_ensemble.png
  thrust/docs/lagrangian-bloodhound-agent/figures/panel_05_coordination_federation.png
  thrust/docs/lagrangian-bloodhound-agent/figures/panel_06_intelligence_federation.png
  thrust/docs/lagrangian-bloodhound-agent/lagrangian-bloodhound-agent-operation.tex
  thrust/docs/lagrangian-bloodhound-agent/run_experiments.py
  thrust/docs/lagrangian-bloodhound-agent/validation_results.json
Due: pytest-unit

thrust purpose
  thrust/docs/lagrangian-bloodhound-agent/lagrangian-bloodhound-agent-operation.tex
  thrust/docs/purpose-driven-shader-virtual-machine/panel_01_sentropy_foundations.png
  thrust/docs/purpose-driven-shader-virtual-machine/panel_02_probe_convergence.png
  thrust/docs/purpose-driven-shader-virtual-machine/panel_03_spectral_dp_forcing.png
  thrust/docs/purpose-driven-shader-virtual-machine/panel_04_raymarch_trie.png
  thrust/docs/purpose-driven-shader-virtual-machine/panel_05_generative_capability.png
  thrust/docs/purpose-driven-shader-virtual-machine/panel_06_full_pipeline.png
  thrust/docs/purpose-driven-shader-virtual-machine/purpose-rendering.tex
  thrust/docs/purpose-driven-shader-virtual-machine/references.bib
  thrust/docs/purpose-driven-shader-virtual-machine/run_experiments.py
  thrust/docs/purpose-driven-shader-virtual-machine/validation_results.json
  thrust/docs/sources/categorical-compound-database.tex
  thrust/docs/sources/gpu-observation-architecture.tex
  thrust/docs/sources/shader-based-astronomy.tex
  thrust/docs/sources/shader-based-genomics.tex
  thrust/docs/sources/universal-spectral-matching.tex
Due: pytest-unit, purpose-framework-validation

thrust cytochrome
  thrust/docs/lagrangian-bloodhound-agent/figures/lagrangian-captions.tex
  thrust/docs/lagrangian-bloodhound-agent/lagrangian-bloodhound-agent-operation.pdf
  thrust/docs/lagrangian-bloodhound-agent/lagrangian-bloodhound-agent-operation.tex
  thrust/docs/purpose-driven-shader-virtual-machine/figures/panel_01_sentropy_foundations.png
  thrust/docs/purpose-driven-shader-virtual-machine/figures/panel_02_probe_convergence.png
  thrust/docs/purpose-driven-shader-virtual-machine/figures/panel_03_spectral_dp_forcing.png
  thrust/docs/purpose-driven-shader-virtual-machine/figures/panel_04_raymarch_trie.png
  thrust/docs/purpose-driven-shader-virtual-machine/figures/panel_05_generative_capability.png
  thrust/docs/purpose-driven-shader-virtual-machine/figures/panel_06_full_pipeline.png
  thrust/docs/purpose-driven-shader-virtual-machine/figures/purpose-captions.tex
  thrust/docs/purpose-driven-shader-virtual-machine/purpose-driven-rendering.pdf
  thrust/docs/purpose-driven-shader-virtual-machine/purpose-driven-rendering.tex
  thrust/docs/purpose-driven-shader-virtual-machine/purpose-rendering.pdf
  thrust/docs/sources/blank-screen-architecture.tex
  thrust/docs/sources/blank-screen-paradigm.tex
  thrust/public/data/cytochrome.json
  thrust/src/components/Navbar.js
  thrust/src/components/charts/SEntropyScatter.js
  thrust/src/pages/_app.js
  thrust/src/pages/cytochrome.js
Due: none

repo lens
  thrust/next-env.d.ts
  thrust/package-lock.json
  thrust/package.json
  thrust/src/components/Navbar.js
  thrust/src/components/repo-lens/ChiBars.js
  thrust/src/components/repo-lens/FragmentGraph.js
  thrust/src/components/repo-lens/SalientTreemap.js
  thrust/src/pages/api/repo-lens/ai.js
  thrust/src/pages/repo-lens.js
  thrust/tsconfig.json
  thrust/tsconfig.tsbuildinfo
Due: none

cross repo confluence
  .gitignore
  thrust/.gitignore
  thrust/docs/confluence/bloodhound-integration-notes.md
  thrust/docs/confluence/cross-repo-confluence-design.md
Due: none

fragment graph
  thrust/src/components/repo-lens/FragmentGraph.js
  thrust/src/components/repo-lens/SalientTreemap.js
  thrust/src/pages/repo-lens.js
  thrust/tsconfig.tsbuildinfo
Due: none

fixed hidden files
  .gitignore
  thrust/src/lib/intentMapper.js
  thrust/src/lib/pdsvm.js
  thrust/src/lib/repo-lens/ai.ts
  thrust/src/lib/repo-lens/analyse.ts
  thrust/src/lib/repo-lens/chi.ts
  thrust/src/lib/repo-lens/engine/analyse-local.ts
  thrust/src/lib/repo-lens/engine/client.ts
  thrust/src/lib/repo-lens/engine/fake-transport.ts
  thrust/src/lib/repo-lens/engine/transport.ts
  thrust/src/lib/repo-lens/engine/types.ts
  thrust/src/lib/repo-lens/github.ts
  thrust/src/lib/repo-lens/lineage.ts
  thrust/src/lib/repo-lens/model.ts
  thrust/src/lib/repo-lens/sthurbert/ast.ts
  thrust/src/lib/repo-lens/sthurbert/index.ts
  thrust/src/lib/repo-lens/sthurbert/interpreter.ts
  thrust/src/lib/repo-lens/sthurbert/lexer.ts
  thrust/src/lib/repo-lens/sthurbert/parser.ts
  thrust/src/pages/repo-lens.js
  thrust/tsconfig.tsbuildinfo
  thrust/vercel.json
Due: none

declared typescript
  thrust/package-lock.json
  thrust/package.json
Due: none

tracker: git-setup keeps the previous credential helper as fallback
  thrust/tracker/README.md
  thrust/tracker/src/profile/gitsetup.rs
  thrust/tracker/src/profile/mod.rs
Due: cargo-check, cargo-test

tracker: token lifecycle kept in KeePassXC
  thrust/tracker/README.md
  thrust/tracker/src/api.rs
  thrust/tracker/src/cli.rs
  thrust/tracker/src/error.rs
  thrust/tracker/src/lib.rs
  thrust/tracker/src/tokens.rs
Due: cargo-check, cargo-test

tracker: local engine, okgg federation graph, and the site's tracker pages
  thrust/src/components/Navbar.js
  thrust/src/components/tracker/Chart.js
  thrust/src/components/tracker/EngineGate.js
  thrust/src/components/tracker/FederationDashboard.js
  thrust/src/components/tracker/FederationGraph.js
  thrust/src/components/tracker/ProposalCard.js
  thrust/src/lib/auth.js
  thrust/src/lib/repo-lens/engine/transport.ts
  thrust/src/lib/tracker/engine.js
  thrust/src/middleware.js
  thrust/src/pages/_app.js
  thrust/src/pages/api/auth/login.js
  thrust/src/pages/api/auth/logout.js
  thrust/src/pages/code.js
  thrust/src/pages/login.js
  thrust/src/pages/repo-lens.js
  thrust/src/pages/tracker.js
  thrust/tracker/Cargo.toml
  thrust/tracker/README.md
  thrust/tracker/src/agent.rs
  thrust/tracker/src/api.rs
  thrust/tracker/src/cli.rs
  thrust/tracker/src/gitops.rs
  thrust/tracker/src/graph.rs
  thrust/tracker/src/lib.rs
  thrust/tracker/src/serve.rs
  thrust/tracker/src/tokens.rs
  thrust/vercel.json
Due: cargo-check, cargo-test, cargo-audit

tracker: chat on Claude or Hugging Face-hosted models, keys in KeePassXC
  thrust/src/pages/tracker.js
  thrust/tracker/README.md
  thrust/tracker/src/agent.rs
  thrust/tracker/src/cli.rs
  thrust/tracker/src/lib.rs
  thrust/tracker/src/llm.rs
  thrust/tracker/src/tokens.rs
Due: cargo-check, cargo-test

tracker: search inside repos with spraypaint's coverage verdicts
  thrust/src/components/tracker/Chart.js
  thrust/src/components/tracker/Passages.js
  thrust/src/pages/code.js
  thrust/tracker/README.md
  thrust/tracker/src/agent.rs
  thrust/tracker/src/api.rs
  thrust/tracker/src/lib.rs
  thrust/tracker/src/search.rs
Due: cargo-check, cargo-test

tracker: read KeePassXC entries only from the Git group
  thrust/tracker/src/tokens.rs
Due: cargo-check, cargo-test

tracker: git-setup points git's KeePassXC helper at the Git group
  thrust/tracker/src/profile/gitsetup.rs
Due: cargo-check, cargo-test

tracker serve: pair with st-hubert-bloodhound.vercel.app by default
  thrust/tracker/src/serve.rs
Due: cargo-check, cargo-test
